<div class="bless-container">
    <div class="form-container">
        <form #userForm="ngForm"  (ngSubmit)="onSubmit()">

            <!-- {{userForm.value | json}}

            {{userModel | json}} -->

           <!-- {{users.length}} -->
            <div class="form-group">
                <label for="name">Name*</label>
                <input name="name" [(ngModel)]="userModel.name" type="text" class="form-control" id="name" placeholder="Enter your name">
              </div>
            <div class="form-group">
              <label for="email">Email address*</label>
              <input [(ngModel)]="userModel.email" name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email">
              <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
            <div class="form-group">
                <label for="bless">Say Somthing Nice*</label>
                <input [(ngModel)]="userModel.bless" name="bless" type="text" class="form-control" id="bless" placeholder="Your words here" >
              </div>
            <div class="button">
                <button type="submit" class="btn btn-primary sub">Submit</button>
               
            </div>
          </form>

          <div class="reset">
            <button class="sub" (click)="reset()">Reset</button>
          </div>
    </div>
    <div class="words-container" *ngFor="let user of users">
        <div class="single-card">
            <h2>{{user.name}}</h2>
            <p>{{user.email}}</p>
            <p>{{user.bless}}</p>
           
        </div>
    </div>
</div>