.body{
    background-color: rgb(4, 247, 153);
    width: 100%;
    min-height: 100vh;
}

.home-container{
    width: 90%;
    margin: auto;
   padding-top: 50px;
}

.right  {
    float: right;
    
}

.nav-link{
    color: white;
}

.logo{
    font-size: 4rem;
    color: white;
    font-weight: bolder;
}

.nav{
    /* border:  2px solid black; */
}

.nav ul {
    float: right;
    list-style: none;

}
.nav ul li{
    display: inline;
    padding: 10px 20px;

}
.nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
}

.nav ul li a:hover{
    color: rgb(236, 227, 227);
}
.home-content{
    font-family: 'Grandstander', cursive;
    margin-top: 50px;
    /* border: 2px solid red; */
    position: relative;
    top: -100%;
    left: -100%;
    animation-name: example;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes example {
    from {top: -100%;
        left: -100%;}
    to {top: 0;
        left: 0;}
  }
.home-content h1 {
    
    font-size: 4rem;
    font-weight: bolder;
}

.home-content button{
border:  1.5px solid black;
padding: 8px 15px;
background: transparent;
font-family: 'Grandstander', cursive;
font-weight: bold;
font-size: 1.3rem;
margin-right: 40px;
color: rgb(31, 25, 25);
transition-property: all;
transition-duration: 0.3S;
margin-top: 20px;

}

.btn{
    transform: scale(2);
}

.home-content button:hover{
    transform: scale(1.2);
}

.home-content p{
    color: white;
    font-size: 1.5rem;
  
    
}



