<div class="body">
    <div class="home-container">
       <div class="nav">
        <span class="logo">Chillax</span>
         <ul>
             <li>
                 <a href="">Home</a>
             </li>
             <li>
                <a href="">About</a>
            </li>
            <li>
                <a routerLink="/game">Play</a>
            </li>
            <li>
                <a href="">Blessings</a>
            </li>
         </ul>
       </div>

       <div class="home-content">
           <h1>Hey!!</h1>
           <h1>I am Chillax</h1>
           <h1>A full time overthinker</h1>
           <p>Web Developer | Java developer | fun lover </p>
           <button id="lol">About Me</button>
           <button>Projects</button>
       </div>
        
    </div>
</div>