.body{
    background-color:  rgb(22, 1, 13);
    width: 100%;
    min-height: 100vh;
}

.home-container{
    width: 90%;
    margin: auto;
   padding-top: 50px;
   color: #F0AD4E;
}

.home-content{
    font-family: 'Grandstander', cursive;
    margin-top: 50px;
    /* border: 2px solid red; */
    position: relative;
    top: -100%;
    left: -100%;
    animation-name: example;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes example {
    from {top: -100%;
        left: -100%;}
    to {top: 0;
        left: 0;}
  }
.home-content h1 {
    
    font-size: 4rem;
    font-weight: bolder;
}

.home-content button{
border:  1.5px solid #F0AD4E;
padding: 8px 15px;
background: transparent;
font-family: 'Grandstander', cursive;
font-weight: bold;
font-size: 1.3rem;
margin: 0px;
color: #F0AD4E;
transition-property: all;
transition-duration: 0.3S;
margin-top: 20px;
animation-name: apart;
animation-duration: 1s;
animation-delay: 0.5s;
animation-fill-mode: forwards;

}
@keyframes apart{
    from{
    margin: 0px;
    }
    to{
     margin: 40px;
     margin-left: 0;
    }
}

.btn{
    transform: scale(2);
}

.home-content button:hover{
    transform: scale(1.2);
}

.home-content p{
    color: white;
    font-size: 1.5rem;
  
    
}



